span(ng-click="navbar.toggleGroup('jobs')") Job Listings
.nav-menu-sub-item(ng-show="navbar.showOptionGroup('jobs')", ng-click="jobsCtrl.fetchJobs()") Filter 1
.nav-menu-sub-item(ng-show="navbar.showOptionGroup('jobs')", ng-click="jobsCtrl.fetchJobs()") Filter 2
.nav-menu-sub-item(ng-show="navbar.showOptionGroup('jobs')", ng-click="jobsCtrl.fetchJobs()") Filter 3
