span(ng-click="ctrlSideMenu.toggleGroup('jobs')") Job Listings
.nav-menu-sub-item(ng-show="ctrlSideMenu.showOptionGroup('jobs')", ng-click="ctrlJobsFilter.fetchJobs()") Filter 1
.nav-menu-sub-item(ng-show="ctrlSideMenu.showOptionGroup('jobs')", ng-click="ctrlJobsFilter.fetchJobs()") Filter 2
.nav-menu-sub-item(ng-show="ctrlSideMenu.showOptionGroup('jobs')", ng-click="ctrlJobsFilter.fetchJobs()") Filter 3
