.job-listing(ng-repeat="job in ctrlJobsListing.jobsService.jobs track by job.id", ng-show="ctrlSideMenu.showOptionGroup('jobs')")
   .job-description(ng-bind="::job.description")
   .job-requirements(ng-bind="::job.requirements")