header
side-menu
.layout-main-content(ng-class="{ 'slide-layout-right': ctrlSideMenu.showNavMenu, 'slide-layout-left': !ctrlSideMenu.showNavMenu }", resize-content="ctrlSideMenu.showNavMenu")
   nav-toggle-button(ng-model="ctrlSideMenu.showNavMenu")
   error-message-handler
   listed-jobs
   listed-companies