.layout-sidebar(ng-show="ctrlSideMenu.showNavMenu")
    .nav-menu
        .menu-option
            find-companies
        .menu-option
            find-jobs
        .menu-option.link-signoff
            login