.layout-sidebar(ng-show="ctrlSideMenu.showNavMenu")
    .nav-menu
        .menu-option
            companies-filter
        .menu-option
            jobs-filter
        .menu-option.link-signoff
            login