#nav-toggle(ng-class="{'navigation-trigger': ctrlNavToggleButton.navMenuToggle, 'close-navigation-trigger': !ctrlNavToggleButton.navMenuToggle }", ng-click="ctrlNavToggleButton.showHideNavMenu()")
    button.nav-toggle