#nav-toggle(ng-class="{'navigation-trigger': navToggleCtrl.navMenuToggle, 'close-navigation-trigger': !navToggleCtrl.navMenuToggle }", ng-click="navToggleCtrl.showHideNavMenu()")
    button.nav-toggle