.login-validation-summary-errors(ng-if="errorCtrl.service.errors && errorCtrl.service.errors.length > 0")
    .validation-summary-errors
        alert(ng-repeat="alert in errorCtrl.service.errors", type="danger", close="errorCtrl.service.clearError(alert)") {{alert.Message}}